.container{
  margin-top: 80px;
}
.product-image{

    width:100%;
    height:260px;

    border-radius:20px;

    overflow:hidden;

    background:#FDEEF7;

}
.product-image {
    position: relative;
    overflow: hidden;
}

.product-image::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 0, 150, 0.5);
    opacity: 0;
    transition: 0.3s;
    cursor: pointer;
}

.product-image:hover::after {
    opacity: 1;
}

.product-image img{

    width:100%;
    height:100%;

    object-fit:cover;

    display:block;

}
.product-card{

    display:flex;

    flex-direction:column;

    height:100%;

}
.product-card h5{

    font-size:28px;

margin: 12px 0 6px;

    min-height:60px;



    -webkit-box-orient:vertical;

    overflow:hidden;

}
.stars{

    color:#FFB400;


    font-size:18px;
        margin-bottom: 8px;


}.card-footer{

    display:flex;

    justify-content:space-between;


}

.new{

    color:#FF4D4F;

    font-size:22px;

    font-weight:700;

}

.old{

    color:#BDBDBD;

    text-decoration:line-through;

    margin-left:10px;

}
.cart-btn{

    border:none;

    background:transparent;

    padding:0;

    cursor:pointer;
    position: relative;
  bottom: 40px;

}

.cart-btn img{

    width:108px;

    height:108px;

}
.slider-btn{

    position:absolute;

    top:35%;

    width:48px;

    height:48px;

    border:none;

    border-radius:50%;

    background:#FF2AA1;

    color:#fff;

    font-size:28px;

    display:flex;

    justify-content:center;

    align-items:center;

    cursor:pointer;

    z-index:100;

}

.left{

    left:-5px;

}

.right{

    right:-3px;

}
